.icons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.reviews-style{
    padding: 10px;
    margin-top: 20px;
    width: 300px;
}
.reviews-style:hover{
    box-shadow: 1px 2px 5px;
}